[submodule "40423221"]
	path = 40423221
	url = https://github.com/40423221/2017springcd_hw.git
	branch = gh-pages
[submodule "40423202"]
	path = 40423202
	url = https://github.com/40423202/2017springcd_hw.git
	branch = gh-pages
[submodule "40423228"]
	path = 40423228
	url = https://github.com/40423228/2017springcd_hw.git
	branch = gh-pages
[submodule "40423245"]
	path = 40423245
	url = https://github.com/40423245/2017springcd_hw.git
	branch = gh-pages
[submodule "40423248"]
	path = 40423248
	url = https://github.com/40423248/2017springcd_hw.git
	branch = gh-pages
[submodule "40423251"]
	path = 40423251
	url = https://github.com/40423251/2017springcd_hw.git
	branch = gh-pages
